= line_chart_with CompArray.all.map(&:graph_info)

%h3 Components Needing Renewal

= render 'components/table', components: @components

%h3 Arrays Needing Renewal

= render 'comp_arrays/table', comp_arrays: @comp_arrays

%h3 Customers Affected

= render 'customers/table', customers: @customers
