%p#notice= notice
%h1 Customer

= render 'customers', customers: [@customer], show: false

%h3 Arrays

= render 'comp_arrays/comp_arrays',
comp_arrays: @customer.comp_arrays,
show: true

= link_to 'New Array',
new_comp_array_path(comp_array: { customer_id: @customer }),
class: 'btn btn-primary'
